.hero {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 60px 0;
  height: 200px;

  background-image: url('https://www.themoviedb.org/t/p/w1920_and_h600_multi_faces_filter(duotone,032541,01b4e4)/bgQUBbZ14hfeb975yZ2YzTnAwen.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.img {
  display: block;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 10px;
  margin: 0;
  padding: 20px 0;
  list-style: none;
}

.title {
  margin-bottom: 10px;
  font-size: 48px;
  padding-left: 50px;
  text-transform: uppercase;

  color: white;
}

.text{
  max-width: 700px;
  padding-left: 50px;
  color: white;

  font-size: 22px;
  font-weight: 400;

  margin: 0;

}
