.hidden {
  overflow: hidden;
  height: 100%;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.hero {
  padding: 60px 0;
  min-height: 200px;

  background-image: url('https://www.themoviedb.org/t/p/w1920_and_h600_multi_faces_filter(duotone,032541,01b4e4)/bgQUBbZ14hfeb975yZ2YzTnAwen.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.img {
  display: block;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 10px;
  margin: 0;
  padding: 20px 0;
  list-style: none;
}

.title {
  margin-bottom: 10px;
  font-size: 48px;
  padding-left: 50px;
  text-transform: uppercase;

  color: white;
}

.text {
  max-width: 700px;
  padding-left: 50px;
  color: white;

  font-size: 22px;
  font-weight: 400;
  margin: 0;
}

.list__title {
  max-width: 200px;
}

.list__thumb {
  max-height: 300px;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
  transition: transform ease-in 200ms;
}

.list__thumb:hover {
  transform: scale(1.01);
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.list__img {
  display: block;
  object-fit: cover;
  height: 100%;
}

.modal__container {
  position: relative;
}

.card {
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  padding: 20px;
  background-color: rgb(3 37 65);
}

.btn__close {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  border: none;
  width: 25px;
  height: 25px;
  color: white;
  cursor: pointer;
  transition: transform ease-in 200ms;

}

.btn__close:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: scale(0.9);

}

.data__content {
  padding-left: 20px;
  color: white;
  width: 50%;
}

.thumb__photo {
  max-width: 50%;
  height: 500px;
  border-radius: 5px;
}

.photo {
  display: block;
  object-fit: contain;
  width: 100%;
  height: 100%;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.modal__title {
  margin-bottom: 50px;
}

.modal__text {
  line-height: 1.5;
  font-size: 14px;
}

.modal__text_accent {
  font-size: 24px;
  font-weight: 600;
}

.button {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 20px;
  color: white;

  font-size: 12px;

  padding: 3px 10px;
  border: none;
  border-radius: 3px;

  background-color: rgb(255, 174, 0);
  border: solid 1px rgb(255, 174, 0);
  transition: all ease-in 200ms;
}

.button:hover {
  color: white;
  background-color: transparent;
  border: solid 1px rgb(255, 174, 0);
}
