.searchbar {
  display: flex;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  min-height: 267px;
  margin: 0 auto;
  padding: 80px 0;

  background-image: url('https://www.themoviedb.org/t/p/w1920_and_h600_multi_faces_filter(duotone,032541,01b4e4)/bgQUBbZ14hfeb975yZ2YzTnAwen.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form {
  position: relative;
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
}

.input {
  display: inline-block;
  width: 100%;
  padding: 15px;
  padding-right: 0;
  border: none;
  border-radius: 30px;

  color: rgb(3 37 65);
}

.btn {
  position: absolute;
  top: 0;
  right: 0;

  min-width: 100px;
  padding: 15px;
  border: none;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  background-color: #004d7a;

  transition: all ease 250ms;
}

.btn:hover {
  background-color: #036aa6;

}
