.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.searchbar {
  max-width: 1200px;
  width: 100%;
  min-height: 267px;
  margin: 0 auto;
  padding: 80px 0;

  background-image: url('https://www.themoviedb.org/t/p/w1920_and_h600_multi_faces_filter(duotone,032541,01b4e4)/bgQUBbZ14hfeb975yZ2YzTnAwen.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.input {
  display: inline-block;
  min-width: 650px;
  padding: 12px;
  border: none;
  border-radius: 8px;

  color: rgb(3 37 65);
}

.btn {
  min-width: 100px;
  padding: 12px;
  border: none;
  border-radius: 8px;

  color: rgb(3 37 65);

  margin-right: 10px;
  cursor: pointer;
}

.title {
  text-decoration: none;
  color: black;
  max-width: 150px;
  font-size: 14px;
  font-weight: 600;
}

:global(.dark) .title {
  color: rgb(255, 255, 255);
}

.text {
  text-decoration: none;
  color: black;
  max-width: 100px;
  font-size: 10px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 20px 0;

  text-decoration: none;
  gap: 10px;
}

.link {
  text-decoration: none;
}

.image__wrapper {
  border-radius: 5px;
  overflow: hidden;
  height: 337px;
}

.image__wrapper:hover {
  transform: scale(1.01);
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.image {
  display: block;
  object-fit: cover;
  height: 100%;
}
