.container {
  max-width: 1100px;
  margin: 0 auto;

  padding: 60px 0;
}

.about {
  display: flex;
  margin-bottom: 20px;
  backdrop-filter: blur(20px);
}

.img {
  display: block;
}

.data {
  padding: 20px;
}

.button {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 20px;
  color: white;

  padding: 10px 15px;
  border: none;
  border-radius: 8px;

  background-color: rgb(255, 174, 0);
  transition: all ease-in 200ms;
}

.button:hover {
  color: white;
  background-color: rgb(3 37 65);
}

.data__review {
  display: flex;
  width: 300px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.data__item {
  margin-right: 10px;
  border: none;
  border-radius: 8px;
  background-color: rgb(3 37 65);
}

.data__item:hover,
.data__item:active {
  color: white;
  background-color: rgb(255, 174, 0);
}

.title {
  display: inline-block;
  padding: 5px 10px;
  color: white;
  text-decoration: none;
}
